body { 
  margin-top: 125px;
  background: linear-gradient(177.9deg, rgb(255, 228, 254) 5.3%, rgb(255, 228, 254) 5.3%, rgb(188, 132, 173) 94.7%) no-repeat center center fixed;
  padding: 15px;
  margin: 100px auto;
}
.Weather ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Weather form {
    margin-top: 16px;
    padding-bottom: 20px;
    margin-right: 12px;
}
.leftSide ul {
    margin-bottom: 16px;
}
.rightSide h4 {
    margin-top: 16px;
}
.description {
    font-size: 30px;
}
.currentTime {
    margin-top: 35px;
    font-size: 18px;
}
.searchedCity {
    font-size: 18px;
}
.Weather {
    font-family: 'Comfortaa', cursive;
    margin: 0 30px;
}
.row-border {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.leftSide {
    background-color: #c573c9;
    text-align: center;
    color: black;
}
.rightSide {
    color: black;
    background-color:#FCE8E1 ;
}
.icon {
    max-width: 160px;
} 
.higlights-borders {
    border: 1px solid #FCE8E1;
    border-radius: 10px;
    background-color: #fccdff;
}
.highlights {
    max-width: 45px;
    margin: 10px;
}
.higlights-description {
    font-size: 18px;
}
.higlightsName {
    font-size: 18px;
    font-weight: bold;
}
.Weather .temperature {
    font-weight: bold;
    font-size: 80px;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 20px;
  font-weight: bold;
  position: relative;
  line-height: 1;
  top: -48px;
}