body { 
    margin-top: 125px;
  background: linear-gradient(177.9deg, rgb(255, 228, 254) 5.3%, rgb(255, 228, 254) 5.3%, rgb(188, 132, 173) 94.7%) no-repeat center center fixed;
  padding: 10px;
margin: 100px auto;
}
.Weather ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Weather form {
    margin-top: 16px;
    padding-right: 12px;
    padding-bottom: 20px;
}
.leftSide ul {
    margin-bottom: 16px;
}
.rightSide h4 {
    margin-top: 16px;
}
.Weather {
    font-family: 'Comfortaa', cursive;
    margin: 30px;
}
.row-border {
    border: 1.5px solid rgb(69, 69, 69);
    border-radius: 5px;
}
.leftSide {
    background-color: #c573c9;
    text-align: center;
    color: white;
}
.rightSide {
    color: black;
    background-color:#FCE8E1 ;
}
.icon {
    max-width: 200px;
} 
